<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= place.name %></title>
</head>
<body>
    <h1><%= place.name %></h1>
    <p>Endereço: <%= place.address %></p>
    <p>Categoria: <%= place.category %></p>
    <p>Latitude: <%= place.latitude %></p>
    <p>Longitude: <%= place.longitude %></p>
    <a href="/backoffice/places/edit/<%= place._id %>">Editar</a>
    <a href="/backoffice/places">Voltar para a lista de locais</a>
</body>
</html>
